html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}


div {
  border: 2px solid burlywood;
  margin: 10px;
}

#introPic {
  float: left;
}

#pro {
  width: auto;
}



img {
  height: auto;
  max-width: 100%;
}

#bio {
  float: center;
}

#bio > li {
  padding: 1px;
}

li {
  list-style: none;
}

@media (max-width: 412px) {
   *{
background-color: blue; }
  }
